@model IEnumerable<SalesSystem.Utilities.Vehicle>

@{
    ViewData["Title"] = "Vehicles";
}

<h1>Vehicles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               #
            </th>
            <th>
                Código
            </th>
            <th>
                Modelo
            </th>
            <th>
                Marca
            </th>
            <th>
                Año
            </th>
            <th>
                Color
            </th>
            <th>
                Pasajeros
            </th>
            <th>
                Llantas
            </th>
            <th>
                Motor
            </th>
            <th>
                Combustible
            </th>
            <th>
                Deposito
            </th>
            <th>
                Tipo
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>

        @{
            int line = 0;
        }
        @foreach (var item in Model) {
        <tr>
            <td>
                @line
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passenger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <a asp-controller="Vehicle" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa-solid fa-car-burst"></i></a>
                    <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-car-side"></i></a>
                    <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-delete-left"></i></a>
            </td>
        </tr>
        line++;
}
    </tbody>
</table>
